data/indicadores_trajetoria_educacao_superior_2013_2021.ods filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria_educacao_superior_2013_2021.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria_educacao_superior_2013_2021_cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/clenaed.csv filter=lfs diff=lfs merge=lfs -text
data/sample.csv filter=lfs diff=lfs merge=lfs -text
data/cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/MICRODADOS_CADASTRO_CURSOS_2023.CSV filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2012_2021.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2013_2021.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2013_2022.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2014_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2016_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2017_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2018_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2011_2020.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2019_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_2015_2023.xlsx filter=lfs diff=lfs merge=lfs -text
data/indicadores_trajetoria/indicadores_trajetoria_educacao_superior_all.parquet filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2013.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2018.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2019.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2012.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2014.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2015.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2016.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2017.CSV filter=lfs diff=lfs merge=lfs -text
data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2020.CSV filter=lfs diff=lfs merge=lfs -text
